spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fintrack
    username: fintrack_user
    password: secure_password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.fintrack: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE